<h1>Editing friend</h1>

<br/>

<%= render "form", friend: @friend %>

<hr class="my-4">

<div class="btn-toolbar text-center well">
  <%= link_to " Back to Friends", friends_path, class:"btn btn-primary bi bi-arrow-left" %>
</div>
