<p id="notice"><%= notice %></p>

<h1>Editing friend</h1>

<%= render "form", friend: @friend %>

<br>

<div class="btn-toolbar text-center well">
  <%= link_to "", @friend, class:"btn btn-primary bi bi-eye mr-1" %> 
  <%= link_to " Back to Friends", friends_path, class:"btn btn-primary bi bi-arrow-left" %>
</div>
