<h1>Editing friend</h1>

<%= render "form", friend: @friend %>

<br>

<div>
  <%= link_to "", @friend, class:"btn btn-primary bi bi-eye" %> |
  <%= link_to "", friends_path, class:"btn btn-primary bi bi-arrow-left" %>
</div>
