<div class="mb-5">
    <div class="bg-white rounded shadow-sm py-5 px-4 text-center">
        <%= image_tag('eu.jpg', alt: 'Descrição', width: '200', class: 'img-fluid rounded-circle mb-3 img-thumbnail shadow-sm') %>
        <h5 class="mb-0"><%= @name %></h5><span class="small text-uppercase text-muted">Software Engineering Degree Student</span>
        <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-github"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-envelope-heart"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-file-earmark-arrow-up"></i></a></li>
        </ul>
    </div>
</div>